/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.App{
  min-width: 70vw;
  min-height: 100vh;
  display: flex;
  background-image: url("../public/images//background1.jpg");
  background-size: 100% 100%;
  background-position: center;
}
